<template>
  <div class="home">
    <Movie discover="movies"/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Movie from '@/components/Discover/Movie.vue';
export default Vue.extend({
  name: 'home',
  components: {
    Movie
  }
});
</script>
