<template>
    <section class="movie-details">
        <div class="container" v-if="loading">
            <Loading />
        </div>
        <div class="container" v-else-if="!loading && has_errors">
            <div class="row pt-3">
                <div class="col-12">
                    <div class="alert alert-danger">
                        We're sorry, but an error has occurred
                    </div>
                </div>
            </div>
        </div>
        <template v-else>
            <div class="container-fluid backdrop" v-if="details.backdrop_path" :style="{backgroundImage: backgroundImage }">
                <div class="row backdrop-row">
                    <div class="col text-center backdrop-text" style="margin-bottom:50px;">
                        <h1 class="text-white">{{ details.title }}</h1>
                        <h3 class="text-white font-italic" style="text-decoration:underline;" v-if="details.tagline">
                            {{ details.tagline }}</h3>
                    </div>
                </div>
            </div>
            <div class="container border-sides" style="border-radius:5px 5px 0 0;">
                <section class="row info-row">
                    <section class="col-12 col-md-4">
                        <div v-if="details.poster_path">
                            <img :src="buildProfileUri(details.poster_path)" class="img-fluid poster-image" alt="">
                        </div>
                        <div class="mt-3" v-if="details.homepage">
                            <strong>Hompage: </strong>
                            <a :href="details.homepage" target="_blank">{{details.homepage}}</a>
                        </div>
                        <div>
                            <strong>Released On</strong> {{ releaseDate }}
                        </div>
                        <div v-if="details.budget">
                            <strong>Budget (USD):</strong> {{ budgetUsd }}
                        </div>
                        <div>
                            <strong>Vote Average:</strong>
                            {{details.vote_average}} / 10 <small>({{ details.vote_count }} votes)</small>
                        </div>
                        <div v-if="details.genres">
                            <strong>Genres:</strong>
                            <template v-for="(genre, index) in details.genres">
                                {{genre.name}}<template v-if="index != details.genres.length -1 ">, </template>
                            </template>
                        </div>
                    </section>
                    <div class="col-12 col-md-8">
                        <nav class="nav nav-tabs">
                            <li class="nav-item"><a href="" @click.prevent="scrollToItem($el.querySelector('#overview'))" class="nav-link active">Overview</a></li>
                            <li class="nav-item"><a href="" @click.prevent="scrollToItem($el.querySelector('#cast'))" class="nav-link">Cast</a></li>
                            <li class="nav-item"><a href="" @click.prevent="scrollToItem($el.querySelector('#cast'))" class="nav-link">Reviews</a></li>
                            <li class="nav-item nav-link ml-auto favorite" :class="{'favorited': this.favorite}" @click="toggleFavorite">
                                {{this.favorite ? 'Favorited' : 'Add to Favorites'}}
                            </li>
                        </nav>
                        <h3 id="overview">Overview</h3>
                        <p class="overview">
                            {{ details.overview }}
                        </p>
                    </div>
                    
                </section>
                <Cast :cast="cast" v-if="cast.length" id="cast"/>
                <section class="row reviews-row">
                    <div class="col">
                        <template v-if="!reviews.length && loading">
                            <Loading/>
                        </template>
                        <template v-else-if="!reviews.length && !loading">
                            <p class="lead text-center">No Reviews Yet</p>
                        </template>
                        <template v-else>
                            <h3 id="review">Reviews</h3>
                            <div v-for="review in reviews" :key="review.id">
                                <h5>
                                    {{review.author}} says 
                                </h5>
                                <blockquote class="blockquote px-4" :class="{'long-review': review.content.length > 1500}" v-html="textToHtml(review.content)">
                                </blockquote>
                                <span v-if="review.content.length > 1500">See more...</span>
                            </div>
                        </template>
                    </div>
                </section>
            </div>
        </template>
    </section>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Cast from '@components/Cast.vue';
    import moment from 'moment';
    import {CurrencyFormat} from '../lib/Currency';
    import {markdown} from 'markdown';
    
    interface reviewInterface {
        id: string;
        author: string;
        content: string;
        url: string;
    }

    interface dataInterface {
        id?: string;
        details?: Movie.Details;
        cast: Movie.Cast[];
        castPage: number;
        favorite: boolean;
        reviews: reviewInterface[];
        loading: boolean;
        has_errors: boolean;
    }
    export default Vue.extend({
        components: {
            Cast
        },
        created() {
            this.loadMovieData();
        },
        computed: {
            // Returns a background image url for use with the style tag
            backgroundImage(): string {
                return 'url(' + this.$ltdb.buildImageUri(this.details!.backdrop_path, 'w1280') + ')';
            },
            // Returns the budget in USD
            budgetUsd(): string {
                return CurrencyFormat(this.details!.budget || 0);
            },
            // Total cast pages.
            totalCastPages(): number {
                return Math.ceil(this.castWithImages.length / 4 );
            },
            // Total cast that have images.
            castWithImages(): Movie.Cast[] {
                return this.cast.filter((member)=> member.profile_path);
            },
            // The current cast.
            currentCast(): Movie.Cast[] {
                return this.castWithImages.slice((this.castPage - 1) * 4, this.castPage * 4);
            },
            releaseDate(): string {
                const releaseDate = moment(this.details!.release_date);

                return releaseDate.format('MMMM DD, YYYY');
            }
        },
        data(): dataInterface {
            return {
                id: this.$route.params.id,
                favorite: this.$store.state.favoriteMovies.indexOf(this.$route.params.id) !== -1 ,
                details: {
                    adult: false,
                    backdrop_path: '',
                    belongs_to_collection: {},
                    poster_path: '',
                    budget: 0,
                    release_date: ''
                },
                cast: [],
                castPage: 1,
                reviews: [],
                loading: true,
                has_errors: false
            };
        },
        methods: {
            loadMovieData(): void {
                this.$ltdb.get(`movie/${this.id}`, {
                    params: {
                        append: 'credits,reviews'
                    }
                })
                .then( ({data}) => {
                    this.details = data;
                    this.cast = data.credits.cast;
                    this.reviews = data.reviews.results;
                    this.loading = false;
                }).catch((err) => {
                    this.loading = false;
                    this.has_errors = true;
                });
            },
            toggleFavorite(): void {
                if(this.favorite) {
                    this.$store.commit('removeFavoriteMovie', this.$route.params.id);
                }else{
                    this.$store.commit('addFavoriteMovie', this.$route.params.id);
                }
                this.favorite = !this.favorite;
            },
            scrollToItem(el: Element) {
                el.scrollIntoView();
            },
            buildProfileUri(image: string): string {
                return this.$ltdb.buildImageUri(image, 'w300');
            },
            textToHtml(str: string): string {
                return markdown.toHTML(str);
            }
        },
        beforeRouteUpdate(to, from, next) {
            if(to.name === 'movie-details') {
                this.id = to.params.id;
                this.loading = true;
                this.has_errors = false;
                this.favorite = this.$store.state.favoriteMovies.indexOf(this.id) !== -1;
                this.loadMovieData();
            }
            return next();
        }
    });
</script>

<style lang="scss">
    p.overview::first-line {
        font-size: 130%;
        font-style: italic;
        text-align: left;
    }
    .border-sides{
        border-width: 0 1px;
        border-style: solid;
        border-color: rgba(100, 100, 100, 0.25);
        .info-row {
            padding: 15px 5px;
            background-color: white;
            border-radius: 7px;
        }
    }
    .backdrop {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center 0;
        background-color: lightgrey;
        background-attachment: fixed;

        .backdrop-row {
            align-items: flex-end;
            min-height: 450px;
            .backdrop-text {
                text-shadow:
                    1px 1px 5px black,
                    -1px -1px 5px black;
            }
        }
        + .border-sides {
            .info-row {
                margin-top: -40px;
            }
        }
    }
    .actor-image {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .next,
    .previous {
        color: black;
        cursor: pointer ;
        &.inactive{
            color:lightgrey;
        }
    }
    .favorite {
        &.favorited {
            background-color: #f7f731;
        }
    }
</style>