<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Search Results for "{{searchQuery}}"</h3>
            </div>
        </div>
        <div class="row py-2" v-if="!dataLoaded">
            <div class="col">
                <Loading />
            </div>
        </div>
        <div class="row" v-else-if="!results.length && dataLoaded">
            <div class="col">
                <p class="lead font-italic text-center">We're sorry, but your search did not return any results</p>
            </div>
        </div>
        <template v-else>
            <Pagination :total-pages="totalPages" :current-page="currentPage" @pagination="handlePagination"/>
            <div class="row py-2 my-3 border shadow" :class="{'favorited-movie': isFavorited(result.id)}" v-for="(result, result_index) in results" :key="result_index">
                <div class="col-3"><img :src="buildImage(result.poster_path || result.profile_path || '', 'w180')" alt=""
                        class="img-fluid"></div>
                <div class="col-9">
                    <h4> {{ result.name || result.title }} </h4>
                    <h5>{{ capitalize(result.media_type) }} </h5>
                    <p class="description" v-if="result.overview" v-html="textToHtml(result.overview ) || 'No description given'"></p>
                    <p v-if="result.media_type == 'person'">
                        Known For:
                        <router-link v-for="thing in result.known_for" class="d-block" :to="'/'+thing.media_type+'/'+thing.id"
                            :key="thing.id">{{thing.title}}</router-link>
                    </p>
                    <p v-if="result.vote_average != null">
                        <strong>Rating</strong> {{result.vote_average}} (<small>{{result.vote_count }} votes</small>)
                    </p>
                    <router-link :to="'/movie/'+result.id" class="btn btn-success">View More</router-link>
                </div>
            </div>
            <Pagination :total-pages="totalPages" :current-page="currentPage" @pagination="handlePagination"/>
        </template>
    </div>
</template>

<script lang="ts">
// We're going to need
import Vue from 'vue';
import Pagination from '@components/Pagination.vue';
import {markdown} from 'markdown';
// Search Result object interface
type searchResultObject = Show.Details | Person.Details | Movie.Details;
// Search data interface
interface searchResultsDataInterface {
    results: searchResultObject[];
    currentPage: number;
    dataLoaded: boolean;
    totalPages: number;
}
// Export our vue instance
export default Vue.extend({
    components: {
        Pagination
    },
   data(): searchResultsDataInterface {
       return {
           results: [],
           totalPages: 0,
           currentPage: parseInt(this.$route.params.page, 10) || 1,
           dataLoaded: false
       };
   },
   computed: {
       searchQuery(): string {
           return this.$store.state.searchQuery || this.$route.params.query ;
       },
       loading(): boolean {
           return !this.results.length && !this.dataLoaded ;
       }
   },
   watch: {
       currentPage(v: number) {
           this.loadResults();
       }
   },
   methods: {
       isFavorited(id: string): boolean {
           return this.$store.state.favoriteMovies.indexOf(id.toString()) !== -1
       },
       handlePagination(value: number) {
           let v = this.currentPage;
           v+=value;
           if(v < 1) v = 1;
           if(v > this.totalPages) v = this.totalPages;
           this.currentPage = v;
       },
       buildImage(image?: string): string {
           // If we have an item that does not have a poster, then we simply use a placeholder image
           return !image ? 'https://placehold.it/300x400?text=No+Image+Available' : this.$ltdb.buildImageUri(image, 'w300');
       },
       capitalize(str: string): string {
           if(!str) return '';
           str = str.toLowerCase();
           return str.charAt(0).toUpperCase() + str.slice(1);
       },
       nextPage() {
           this.currentPage++;
       },
       prevPage() {
           this.currentPage--;
       },
       textToHtml(str: string): string {
           return markdown.toHTML(str);
       },
       loadResults(): void {
           this.dataLoaded = false;
           this.$ltdb.get('search', {
                params: {
                    query: this.searchQuery,
                    page: this.currentPage
                }
            }).then(( { data } ) => {
                this.totalPages = data.total_pages;
                this.results = data.results;
                this.dataLoaded = true;
            }).catch((err) => {
                console.error(err);
                this.dataLoaded = true;
            });
       }
   },
   beforeRouteUpdate(to, from, next): void {
       this.dataLoaded = false;
       this.loadResults();
       next();
   },
   created(): void {
       this.loadResults();
   }
});
</script>
