<template>
  <section class="row cast-row">
    <div class="col-12">
        <!-- If the cast doesn't exist yet, display the loading icon -->
      <Loading v-if="!cast.length" />
      <!-- Otherwise, show this section -->
      <div class="cast py-2" v-else>
        <h3 class="text-center">Cast</h3>
        <div class="card-deck px-2">
          <b-card tag="section" :img-src="buildProfileUri(actor) || 'https://placeholdit.com/300x400'"
            :img-alt="actor.name" class="actor" v-for="actor in currentCast" :key="actor.id">
            <div class="row">
              <div class="col">
                <h6 class="text-center">{{actor.name}} <small> as </small></h6>
                <h4 class="text-center">{{actor.character}}</h4>
              </div>
            </div>
          </b-card>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';

// The combined cast type -- it's either a show.cast instance or a movie.cast instance
type CombinedCast = Show.Cast | Movie.Cast;

// the cast data interface
interface CastDataInterface {
    castArray: CombinedCast[];
    perPageCount: number;
    currentPage: number;
    mounted: boolean;
}

export default Vue.extend({
    props: {
        cast: {
            type: Array,
            default: (): CombinedCast[] => []
        },
        perPage: {
            type: Number,
            default: 4
        }
    },
    data(): CastDataInterface {
        return {
          // Create a new copy of this array
          castArray: this.$props.cast.slice(0) as CombinedCast[],
          // number of items per page
          perPageCount: (this.$props.perPage as number),
          currentPage: 1,
          mounted: false
        };
    },
    methods: {
        buildProfileUri(actor: CombinedCast): string | undefined {
            if(!actor.profile_path) return;
            return this.$ltdb.buildImageUri(actor.profile_path, 'w300');
        }
    },
    computed: {
        currentCast(): CombinedCast[] {
          const startIndex = (this.currentPage - 1) * this.perPageCount;
          const endIndex = this.currentPage * this.perPageCount;
          return (this.castArray as CombinedCast[]).slice(startIndex, endIndex);
        },
        totalCastPages(): number {
          if(!this.mounted) return 0;
          const perPage = this.perPages as number;
          const castArray = this.cast.slice();
          return Math.ceil( (castArray ? castArray.length : 0) / perPage );
        }
    },
    mounted() {
      this.mounted = true;
    }
});
</script>
