<template>
    <footer class="footer bg-dark text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    Hello
                </div>
            </div>
            <section class="row">
                <div class="col text-center">
                    This app was built as a proof of skill. &copy; 2019 Jim Burbridge
                </div>
            </section>
        </div>
    </footer>
</template>

<style lang="scss">
footer.footer {
    flex: 1 0 30px;
}
</style>
