<template>
    <div class="loading"></div>
</template>

<style lang="scss">

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.loading {
    margin:10px auto;
    width:50px;
    height:50px;
    border-radius:50%;
    border:3px solid blue;
    border-top: 3px solid lightgrey;
    animation: rotate 800ms ease-in-out infinite forwards;
}
</style>
