<template>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container justify-space-between">
                <div class="logo">
                    L<span class="d-none d-md-inline">attice&nbsp;</span>M<span class="d-none d-md-inline">ovie&nbsp;</span>D<span class="d-none d-md-inline">atabase</span>
                </div>
                <div class="search-container">
                    <form action="#/" class="navbar-form" :class="{'has-results': hasResults}" method="post" @submit.prevent="search" @keydown.capture.enter.up.down.escape="onKeydown">
                        <input type="search" class="navbar-search" :class="{'has-results': hasResults}" v-model.trim="searchQuery" @input="onInput()" placeholder="Search for Movies, TV, or People!">
                        <button type="submit" class="search-button"> <i class="fas fa-search"></i> </button>
                        <section class="container-fluid autocomplete-results" v-if="hasResults" @scroll="onScroll">
                            <div class="row py-3 autocomplete-result" :class="{'favorited-movie':isFavorite(result.id.toString())}" v-for="result in autoCompleteResults" :key="result.id" @mousedown="goToResult(result.id)" :data-id="result.id">
                                <div class="col-4">
                                    <template v-if="result.profile_path || result.poster_path">
                                        <img :src="$ltdb.buildImageUri(result.profile_path || result.poster_path, 'w300')" alt="" class="img-fluid">
                                    </template>
                                </div>
                                <div class="col-8 align-self-center">
                                    <h4>
                                        {{ result.name || result.title }}
                                    </h4>
                                    <p>{{result.media_type}}</p>
                                    <p>{{$store.state.favoritedMovies}}</p>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
                <div class="text-white router-links">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <router-link active-class="active" to="/" class="nav-link">Home</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>
 
<script lang="ts">
    import Vue from 'vue';
    // Debounce with me, with me.
    import debounce from 'lodash.debounce';
    import throttle from 'lodash.throttle';
    import Something from '@/components/Something.vue';

    interface ShowDetails extends Show.Details {
        media_type?: string;
    }
    interface MovieDetails extends Movie.Details {
        media_type?: string;
    }
    interface PersonDetails extends Person.Details {
        media_type?: string;
    }
    // Declaring a new type, which is one of the details from the Show, Movie or Person.
    type searchResults = ShowDetails | MovieDetails | PersonDetails;
    // Navbar data interface
    interface navbarData {
        searchQuery: string;
        autoCompleteResults: searchResults[];
        lastPageLoaded: number;
        totalPagesForSearch: number;
        isFetching: boolean;
    }

    export default Vue.extend({
        mounted() {
            // Original height of the thingy
            const $originalHeight: number = this.$el.clientHeight;
            // Listen on scroll
            document.addEventListener('scroll', () => {
                const active = $originalHeight < window.scrollY;
                this.$el.classList.toggle('fixed-top', active );
                document.body.classList.toggle('navbar-active', active);
            });
        },
        data(): navbarData {
            return {
                searchQuery: this.$route.params.query || '',
                autoCompleteResults: [],
                lastPageLoaded: 1,
                totalPagesForSearch: 1,
                isFetching: false
            };
        },
        computed: {
            hasResults(): boolean {
                return this.autoCompleteResults.length > 0;
            }
        },
        methods: {
            isFavorite(id: string): boolean {
                return this.$store.state.favoriteMovies.indexOf(id) !== -1;
            },
            onScroll: throttle(function(this: any, e: MouseEvent) {
                const target = e.target as Element;
                const threshold = 0.8;
                // If we are within the last 20 of our scrollbar, 
                if(target.scrollTop + target.clientHeight > (threshold * target.scrollHeight)
                    && this.lastPageLoaded + 1 <= this.totalPagesForSearch
                    && !this.isFetching) {
                    this.isFetching = true;
                    this.$ltdb.get('search', {
                        params: {
                            query: this.searchQuery,
                            page: this.lastPageLoaded + 1,
                        }
                    }).then(({data})=>{
                        this.lastPageLoaded +=1;
                        this.isFetching = false;
                        this.autoCompleteResults = this.autoCompleteResults.concat(data.results); 
                    });
                }
            }, 200), 
            onInput: debounce(function(this: any, e: KeyboardEvent) {
                if(this.searchQuery.length > 2 ) {
                    this.$ltdb.get('search', {
                        params: {
                            query: this.searchQuery
                        }
                    }).then(( {data} ) => {
                        this.autoCompleteResults = data.results;
                        this.totalPagesForSearch = data.total_pages;
                    });
                }
            }, 250),
            onKeydown(e: KeyboardEvent) {
                // Get the current element
                let currentEl: Element | null = document.querySelector('.autocomplete-result.selected');
                // the property we will be looking at; if we are hitting the up arrow, then we need the previousElementSibling.
                // Down? nextElementSibling
                const property: string = e.code === 'ArrowUp' ? 'previousElementSibling' : 'nextElementSibling';
                // the current target as an input element
                const target = e.target as HTMLInputElement;
                // Check if we have don't have an element.
                if(!currentEl) {
                    // okay, the set the result to be the first autocomplete-result element we find.
                    currentEl = document.querySelector('.autocomplete-result');
                    // If we have an element, add the selected class and end execution
                    if(currentEl) currentEl.classList.add('selected');
                    return ;
                }
                // If the code is the escape button
                if(e.code === 'Escape') {
                    // Prevent Default (Just in Case)
                    e.preventDefault();
                    // Blur
                    target.blur();
                    // Stop execution
                    return;
                }
                // Scroll the current element into view
                currentEl.scrollIntoView();
                // If the code is 'Enter'...
                if(e.code === 'Enter') {
                    // Go to the URL to view the details
                    if(currentEl.hasAttribute('data-id') ) {
                        this.goToResult(currentEl.getAttribute('data-id'));
                        // Prevent default
                        e.preventDefault();
                        // blur
                        target.blur();
                        // Stop execution
                        return ;
                    }
                }

                // If we've gotten here we know that there we should now highlight the next/previous element in our list
                currentEl.classList.remove('selected');
                // Check if the property even exists
                if(currentEl[property]) {
                    // add in the selected element.
                    currentEl[property].classList.add('selected');
                }
            },
            search(e) {
                // First we have to update the data in our store
                this.$store.commit('updateSearch', { searchQuery: this.searchQuery });
                // Let's make it look like we've gone to a new page
                this.$router.push({
                    name: 'search-results',
                    params: {
                        query: this.searchQuery
                    }
                });
            },
            goToResult(id: number | string | null) {
                this.$router.push('/movie/' + id);
            }
        }
    });
</script>

<style lang="scss">
    .logo{
        color:white;
    }
    
    .navbar-form{
        position:relative;
        font-size:1.15rem;
        *:focus{
            outline:none;
        }
        &:focus-within{
            .navbar-search{
                width:400px;
                &.has-results{
                    border-radius: 20px 20px 0 0 ;
                }
                ~ .autocomplete-results{
                    display: block;
                }
            }
            .search-button{
                display:inline-block;
            }
        }
        .navbar-search{
            z-index:101;
            border:0;
            box-sizing:border-box;
            position:relative;
            padding:4px 20px;
            border-radius:20px;
            text-align:center;
            transition: width 350ms;
            width:300px;
        }
        .search-button{
            padding:4px 9px;
            background-color:transparent;
            position:absolute;
            right:0;
            z-index:200;
            border:0;
            display:none;
        }
        .autocomplete-results{
            position:absolute;
            z-index:100;
            background-color:white;
            box-shadow:0 0px 3px rgba(0, 0, 0, 0.25);
            display:none;
            max-height: calc(100vh - 50px);
            overflow-y: auto;
            .autocomplete-result{
                &.selected,
                &:hover{
                    background-color:lightgrey;
                }
            }
        }
    }

</style>
