<template>
    <nav aria-label="Pages of search result data">
        <ul class="pagination justify-content-center">
            <li class="page-item" :class="{disabled: currentPage === 1}" @click="paginateDown">
                <span class="page-link">Prev</span>
            </li>
            <li class="page-item" :class="{active: value === currentPage}" v-for="(value, index) in generatedArray" :key="'pagination-item-'+index">
                <a class="page-link" href="#">{{index + 1}}</a>
            </li>
            <li class="page-item" :class="{disabled: currentPage === totalPages}" @click="paginateUp">
                <span class="page-link">Next</span>
            </li>
        </ul>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    props: {
        totalPages: {
            type: Number,
            default: 1
        },
        currentPage: {
            type: Number,
            default: 1
        }
    },
    methods: {
        paginateDown(e: MouseEvent) {
            const target = e.target as Element;
            if(!target.classList.contains('disabled')) {
                this.$emit('pagination', -1);
            }
        },
        paginateUp(e: MouseEvent) {
            const target = e.target as Element;
            if(!target.classList.contains('disabled')) {
                this.$emit('pagination', 1);
            }
        }
    },
    computed: {
        generatedArray(): number[] {
            return new Array(this.totalPages).fill(1).map((_, index)=> index+1);
        }
    }
});
</script>
