<template>
    <div class="discover" :class="'discover-'+$props.discover">
        <Loading v-if="loading" />
        <template v-else-if="!loading && has_errors">
            <div class="row">
                <div class="alert alert-danger">
                    We're sorry, but an error has occurred
                </div>
            </div>
        </template>
        <template v-else>
            <div class="row justify-content-end mr-2" v-if="showControls">
                <div>
                    <a href="" @click.prevent="previousResults" class="discover previous">Prev</a>
                </div>
                <div style="margin: 0 2px;">
                    |
                </div>
                <div>
                    <a href="" @click.prevent="nextResults" class="discover next">Next</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-deck">
                        <div class="card poster" :key="result_index" v-for="(result, result_index) in computedView">
                            <router-link :to="'/'+$props.discover+'/'+result.id">
                                <div class="poster-wrapper">
                                    <img :src="getPoster(result.poster_path) " :alt="result.title || result.name" class="img-fluid">
                                    <div class="poster_description-text">
                                        <section class="poster_description-text_main">
                                            {{result.overview}}
                                        </section>
                                    </div>
                                </div>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </div>
</template>

<script lang="ts">
import Vue from 'vue';

type DiscoverSharedInstance = Show.Details | Movie.Details;

interface DiscoverBaseData {
    loading: boolean;
    has_errors: boolean;
    results: DiscoverSharedInstance[];
    currentPage: number;
    currentSubPage: number;
    totalPages: number;
    perPage: number;
    showControls: boolean;
}

export default Vue.extend({
    props: {
        discover: {
            type: String,
            default: 'movie'
        },
        page: {
            type: Number
        },
        controls: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        computedView(): DiscoverSharedInstance[] {
            return this.results.slice((this.currentSubPage-1) * this.perPage, this.currentSubPage * this.perPage)
        },
        totalSubPages(): number {
            if(!this.results.length) return 0;
            return Math.ceil(this.results.length / this.perPage);
        }
    },
    methods: {
        getPoster(poster: string): string {
            return this.$ltdb.buildImageUri(poster, 'w300');
        },
        previousResults(): void {
            if(this.currentPage == 1) return;
            this.currentSubPage--;
        },
        nextResults(): void {
            if(this.currentSubPage + 1 == this.totalSubPages) {
                this.$ltdb.get(this.discover, {
                    params: {
                        page: this.currentPage + 1 
                    }
                }).then(({data})=>{
                    this.currentPage += 1;
                    this.results = this.results.concat(data.results);
                }).catch((err)=>{
                    console.error(err);
                });
            }
            this.currentSubPage++;
        }
    },
    data(): DiscoverBaseData {
        return {
            loading: true,
            has_errors: false,
            results: [],
            currentPage: 1,
            currentSubPage: 1,
            totalPages: 1,
            perPage: this.$props.page || 4,
            showControls: this.$props.controls
        };
    },
    created() {
        this.$ltdb.get(this.discover).then( ({data}) => {
            this.results = data.results,
            this.loading = false;
            this.totalPages = data.total_pages;
        }).catch((err) => {
            console.error(err);
            this.loading = false;
            this.has_errors = true;
        });
    }
});
</script>

<style lang="scss">
.poster-wrapper{
    position:relative;
    height:100%;
    overflow:hidden;
}
.poster-wrapper:hover .poster_description-text{
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:block;
}
.poster-wrapper .poster_description-text{
    transition:all 400ms ease-in;
    position:absolute;
    display:none;
    background-color:rgba(0,0,0,0.4);
    color:white;
    padding:10px 8px;
    text-align:left;
}

.poster_description-text_main{
    display:none;
}
.poster-wrapper:hover .poster_description-text_main{
    display:block;
    overflow:hidden;
    text-overflow: ellipsis;
}
</style>
