<template>
    <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Discover New TV Shows</h2>
                    <!-- show the Base Discover element, specifically looking at movies, with 5 per page. -->
                    <Base discover="tv" :page="5"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <p class="font-italic">These are the TV Shows that have risen quickly in ratings, maybe give them a look!</p>
                </div>
            </div>
        </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Base from './Base.vue';

// For some reason the TMDB API is not
interface DiscoverTvDetails extends Show.Details {
    genre_ids: number[];
}
interface DiscoverTvInterface extends Lt.Loadable {
    results: DiscoverTvDetails[];
    page: number;
}
export default Vue.extend({
    data(): DiscoverTvInterface {
        return {
            results: [],
            page: 1,
            loading: true,
            has_errors: false
        };
    },
    components: {
        Base
    }
});
</script>
