<template>
  <div id="app">
    <Navbar />
    <router-view class="main"/>
    <Footer/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Navbar from '@components/Navbar.vue';
import Footer from '@components/Footer.vue';
export default Vue.extend({
  components: {
    Navbar,
    Footer
  }
});
</script>


<style lang="scss">
@import '~bootstrap/scss/bootstrap.scss';
html,
body {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  > .main {
    flex: 1 0 80%;
  }
}
.favorited-movie {
  border: 1px solid darken(#f7f731, 5%) !important;
  background-color: lighten(#f7f731, 30%);
  &:hover {
    background-color: lighten(#fefe31, 20%) !important;
  }
}
</style>
